#sub-nav{
    overflow: hidden;
    height: 8vh;
    border-bottom: 2px solid #EBEDF4;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-right: 1.3rem;
    gap: 0.5rem;
}

#dropdown-basic-button{
    color:black ;
    background-color: white;
    border: none;
    font-weight: 600;
    height: inherit;
}

.dropdown{
    width: fit-content;
    align-items: center;
    height: inherit;
}

#btn-nav{
    width: fit-content;
    height: fit-content;
}

.dropdown-toggle::after{
    color: #A6ACC4;
}

.parent-div{
    display: inline-block;
    width: fit-content; 
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.child-div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tab-text{
    margin-bottom: 0;
    color: black;
    font-weight: 600;
    display: inline;
    margin-left: 0.5rem;
    padding-top: 0.2rem;
}

.last-child{
    width: auto;
    margin-left: auto;
    align-self: center;
}


.first-item{
    padding-left: 1.3rem ;
}

.collaberative-image{
    width: auto;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-nav-circle{
    margin-left: 1rem;
}

.image-inline{
    display: inline;
}

.main-nav-collaberative-image{
    margin: auto;
}

.sub-nav-btn-wrapper{
    width: fit-content;
    display: flex;
    align-items: center;
}


